<!doctype html>
<html>

<head>
    <title>Dog or Cat API</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="background-color:black">
    <div id="maintext"
        style="position:absolute; margin:auto; width:700px; height:200px; text-align:center; top: 70px; bottom: 150; left: 0; right: 0;">
        <h2 class="text-light mb-2"> API Endpoint for Image Classifier. </h2>
        <br>
        <p class="text-light">
            Follow the <a href="https://github.com/AdityaSingh17/DogsVsCats/blob/master/README.md">Readme</a> to use the
            API.
        </p>
    </div>
</body>

</html>